/* TARGETING RANGE BETWEEN 900PX AND 1260PX */

@media (min-width: 800px) and (max-width: 1260px) {
	.title {
		font-size: 2.3rem;
	}

	.sub-intro-info {
		height: 65vh;
		width: 63%;
	}

	img.intro-image {
		height: 400px;
		width: 700px;
	}

	.intro-info,
	.bio,
	#research {
		width: 70%;
		margin: 0 auto;
	}

	.about-video {
		width: 500px;
	}
}

@media (max-width: 660px) {
	.title {
		font-size: 1.5rem;
		padding-top: 2rem;
		padding-bottom: 0.5rem;
		margin-bottom: 2rem;
		width: 75%;
	}

	.sub-intro-info {
		height: 45vh;
		width: 73%;
	}

	img.intro-image {
		width: 420px;
		height: 230px;
		margin-bottom: 0;
	}

	.bio img {
		height: 230px;
		width: 230px;
	}

	.intro-info,
	.bio,
	#research {
		width: 80%;
		margin: 0 auto;
		margin-top: 1rem;
	}

	.about-video {
		width: 350px;
	}

	.intro-info p,
	.bio p,
	.about-p1,
	.about-p2 {
		font-size: 1rem;
		line-height: 1.2rem;
	}

	.intro-p2 {
		line-height: 1.5rem;
		font-size: 1rem;
		margin-left: 0;

		position: absolute;
		top: -180px;
	}

	p.about-p1,
	p.about-p2 {
		padding: 0 1rem;
		text-align: start;
	}

	#research .research-h1 {
		margin-bottom: 1rem;
		font-size: 1.2rem;
		font-weight: 800;
	}

	.r-button {
		font-size: 0.8rem;
		padding-left: 5px;
		padding-right: 5px;
	}

	.important-research-info {
		height: 65vh;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.content-container ul li,
.important-research-info ul li {
	font-size: 1rem;
	margin-bottom: 1rem;
	margin-left: 3rem;
	margin-right: 2rem;
}
.content-container ul li span,
.important-research-info ul li span {
	font-size: 0.9rem;
	font-weight: 700;
}

.content-container .content3-l3 {
	font-size: 1.2rem;
}

.important-research-info ul li {
	width: 95%;
	margin-left: 1.5rem;
}

.important-research-info .research-video-resoures {
	margin-top: 4rem;
	font-size: 1.2rem;
	font-weight: 400;
}

@media (max-width: 450px) {
	.title {
		width: 80%;
		margin: 0 auto;
		text-align: start;
		font-size: 1.8rem;

		padding-bottom: 0;
		margin-bottom: 2.3rem;
	}

	.sub-intro-info {
		background-color: #ffffff;
		width: 100%;
	}

	img.intro-image {
		width: 380px;
		height: 200px;
		object-fit: cover;
		margin-left: 1.7rem;
	}

	.bio img {
		border-radius: 50%;
		height: 250px;
		width: 250px;
	}

	.intro-info,
	.bio {
		width: 90%;
		margin: 0 auto;
	}

	.intro-p2 {
		line-height: 1.3rem;
		font-size: 1rem;
		margin-left: 0;

		position: absolute;
		top: -200px;
	}

	#research .research-h1 {
		margin-bottom: 0.8rem;
		font-size: 1.2rem;
		font-weight: 800;
		padding-left: 0;
		padding-right: 0;
	}

	.about {
		margin-top: 0;
	}

	p.about-p1,
	p.about-p2 {
		padding: 0 1rem;
		text-align: start;
	}

	.about-video {
		aspect-ratio: 16/9;
		width: 280px;
	}

	.important-research-info {
		border-top: 1px solid #999;
		height: 80vh;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-top: 0;
	}

	.important-research-info .research-video-resoures {
		margin-top: 4rem;
		font-size: 1rem;
		font-weight: 400;
	}
}
