/* targeting everything on the web page with these css styles  */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'source-sans 3', 'Open Sans', sans-serif;
}

body {
	background-color: #0c0c0c;
	color: #fbfbfc;
}

html {
	scroll-behavior: smooth;
}

/* HEADER*/

.title {
	font-size: 3rem;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	padding-top: 3.5rem;
	padding-bottom: 1rem;
	color: #fbfbfc;

	text-align: start;
	width: 43%;
	margin: 0 auto;
	margin-bottom: 3rem;

	border-bottom: 0.6rem solid #ffb703;
}

/* INTRO SECTION */
#intro {
	margin-bottom: 1rem;
}

.intro-info,
.bio {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	width: 45%;
	margin: 0 auto;
}

.sub-intro-info {
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 42%;
	margin: 0 auto;

	margin-top: 15rem;
	position: relative;

	height: 60vh;
}

img.intro-image {
	width: 750px;
	height: 450px;
	margin-bottom: 1rem;
	margin-top: 2rem;
	filter: brightness(90%);

	position: absolute;
	top: -220px;
	right: 0px;
}

.intro-info p,
.bio p,
.about-p1,
.about-p2 {
	font-size: 1.2rem;
	line-height: 2rem;
	text-align: center;
	text-align-last: center;
	color: #999;
	padding: 0 2rem;
}

.intro-p2 {
	margin-top: 0;
	margin-bottom: 1.4rem;

	color: black;
	text-align: start;
	width: 90%;
	margin-left: 1.5rem;
	line-height: 1.5rem;

	padding-top: 15rem;
	font-size: 1.2rem;
}

.bio {
	padding-top: 2.5rem;
	padding-bottom: 2rem;
}

.about {
	margin-top: 2rem;
}

.bio img {
	border-radius: 50%;
	height: 300px;
	width: 300px;
	filter: brightness(92%);
}

.about h2 {
	display: flex;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	font-size: 2rem;
	font-weight: 400;
	margin-top: 1.5rem;
}

.about-p1 {
	margin-top: 2rem;
	padding: 0 2rem;
}

.about-p2 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0 2rem;
}

.about-video {
	margin-top: 4rem;
	margin-bottom: 5rem;
	aspect-ratio: 16/9;
	width: 600px;

	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

/* RESEARCH SECTION */
#research {
	width: 45%;
	margin: 0 auto;
}

.research-buttons {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

#research .research-h1 {
	font-family: 'Poppins', sans-serif;
	margin-bottom: 2rem;
	font-size: 1.8rem;
	font-weight: 400;
	text-align: center;
	padding: 0 2rem;
}

.r-button {
	font-size: 1.1rem;
	padding: 20px 10px;
	font-weight: 700;
	border: 0.1 solid #0c0c0c;
	cursor: pointer;

	background-color: #ffb703;
	font-family: 'Poppins', sans-serif;
	color: #023047;
}

#btn-1,
#btn-2,
#btn-3 {
	border-right: none;
}

.content-container {
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-bottom: 2rem;

	border-right: none;
	border-left: none;
}

/* Hiding all contents until button is clicked */
.content-container ul {
	display: none;
}

/* Only content linked to first button will display */
.content-container .active-list {
	display: block;
}

.content-container ul li,
.important-research-info ul li {
	font-size: 1.3rem;
	margin-bottom: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
	color: #999;
}

.content-container ul li span,
.important-research-info ul li span {
	font-family: 'Poppins', sans-serif;
	color: rgb(192, 3, 3);
	font-size: 1.4rem;
	font-weight: 200;
}

.content-container .content3-l3 {
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-size: 1.7rem;
	font-weight: 500;
	color: #fbfbfc;
}

.note-h2 {
	color: black;
}

.important-research-info {
	border-top: 1px solid #ffffff;
	height: 35vh;
	background-color: #ffffff;
}

.important-research-info h2 {
	margin-top: 1rem;
}

.important-research-info .research-video-resoures {
	margin-bottom: 1rem;
	margin-top: 5rem;
	font-size: 1.6rem;
	font-weight: 400;
	text-align: center;
	padding: 1rem 2rem;

	background-color: #ffb703;
	font-family: 'Poppins', sans-serif;
	color: #023047;
	width: 100%;
	margin: 0 auto;
	margin-top: 6rem;
}

.important-research-info ul li {
	color: black;
}

.about-video {
	margin-top: 2rem;
	margin-bottom: 1rem;
}
