* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'source-sans 3', 'Open Sans', sans-serif;
}

body {
	background-color: #fff;
	color: rgb(0, 0, 0, 0.64);
}

html {
	scroll-behavior: smooth;
}

/* HEADER*/

.title {
	font-size: 2.5rem;
	font-weight: 600;
	font-family: 'lora', sans-serif;
	margin-bottom: 4rem;
	background-color: #ccdbdc;
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	color: #003249;

	display: flex;
	justify-content: center;
}

/* INTRO SECTION */
#intro {
	margin-bottom: 3rem;
}

.intro-info,
.bio {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 50%;
	margin: 0 auto;
}

.intro-image {
	width: 700px;
	height: 380px;
	border-radius: 12px;
	margin-bottom: 2rem;
	filter: brightness(85%);
}

.intro-info p,
.bio p,
.about-p1,
.about-p2 {
	font-size: 1.2rem;
	line-height: 2rem;
	text-align: center;
	text-align-last: center;
}

.intro-p2 {
	margin-top: 0;
	margin-bottom: 1.4rem;
}

.bio {
	padding-top: 1rem;
	padding-bottom: 2rem;
	width: 52%;
	margin: 0 auto;

	/* Shadows on left and right */

	/* border: 0 solid #000;
	box-shadow: -5px 0 5px rgba(0, 0, 0, 0.3), 5px 0 5px rgba(0, 0, 0, 0.3); */
}

.about {
	background-color: rgb(204, 219, 220);
	margin-top: 2rem;
}

.bio img {
	border-radius: 50%;
	height: 300px;
	width: 300px;
	filter: brightness(92%);
}

.about-p1 {
	margin-top: 2rem;
	padding: 0 2rem;
}

.about-p2 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0 2rem;
}

.about-video {
	margin-top: 4rem;
	margin-bottom: 5rem;
	aspect-ratio: 16/9;
	width: 600px;

	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

/* RESEARCH SECTION */
#research {
	width: 52%;
	margin: 0 auto;
}

.research-buttons {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

#research h2 {
	margin-bottom: 3rem;
	font-size: 1.6rem;
	font-weight: 800;
	text-align: center;
}

.r-button {
	font-size: 1.1rem;
	padding: 20px 10px;
	font-weight: 700;
	border: 0.1 solid #757575;
	cursor: pointer;

	background-color: #ccdbdc;
	font-family: 'lora', sans-serif;
	color: #003249;
}

#btn-1,
#btn-2,
#btn-3 {
	border-right: none;
}

.content-container {
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	box-shadow: -5px 0 5px rgba(117, 117, 117, 0.3),
		5px 0 5px rgba(117, 117, 117, 0.3);

	border-right: none;
	border-left: none;
}

/* Hiding all contents until button is clicked */
.content-container ul {
	display: none;
}

/* Only content linked to first button will display */
.content-container .active-list {
	display: block;
}

.content-container ul li,
.important-research-info ul li {
	font-size: 1.3rem;
	margin-bottom: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.content-container ul li span,
.important-research-info ul li span {
	color: rgb(192, 3, 3);
	font-size: 1.4rem;
	font-weight: 700;
}

.content-container .content3-l3 {
	color: #000;
	font-weight: bold;
	font-size: 1.7rem;
}

.important-research-info {
	border-top: 1px solid #000;
}

.important-research-info h2 {
	margin-top: 3rem;
}

.research-video-resoures {
	line-height: 1.8rem;
	padding: 15px 20px;

	font-size: 3rem;
	background-color: #ccdbdc;
	font-family: 'lora', sans-serif;
	color: #003249;
	width: 100%;
}

.about-video {
	margin-top: 0;
}
